@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --foreground-color: black;
    --link-color: blue;
    --link-vis-color: rebeccapurple;
  }
}

@font-face {
  font-family: ComicMonoNF;
  font-style: normal;
  src: url('/fonts/ComicShannsMonoNerdFont-Regular.otf');
}

html, body { background: var(--background-color); }

html { height: 100%; }

body {
  color: var(--foreground-color);
  font-family: ComicMonoNF, "LXGW WenKai", monospace;
  font-size: 0.8em;
  max-width: 40em;
  overflow-wrap: break-word;
}

.box {
  border: 1px solid var(--foreground-color);
  margin: 1em;
  padding: 1em;
}

.indent {
  margin-left: 1em;
}

.list {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8em;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-vis-color);
}

pre {
  border: 1px solid var(--foreground-color);
  padding: 1em;
  overflow-x: auto;
}

:not(pre) > code {
  color: var(--background-color);
  background: var(--foreground-color);
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code {
  font-family: ComicMonoNF;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}


